body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #40514E;

  /* font-size: 2em; */
}
h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;

}
h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #66BFBF;
  padding-bottom: 5px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color:  #11999E
}
p {
    line-height: 2;
}
a {
   color: #11999E
}
.top-container {
  position: relative;
  background-color: #E4FFFB;
  padding-top: 100px;
}
.web {
  text-decoration: underline;
}
.middle-container {
margin: 100px auto 100px auto;
}

.bottom-container {
  background-color: #66BFBF;
  text-decoration: none;
  margin-bottom: 0;
  padding: 50px 0 20px;
}
.bottom-container a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  color: #01899A;
}

a:hover {
  color: #EAF6F6;
}
.bottom-container p {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.skill-row {
  margin: 100px auto 100px auto;
  width:50%;
  /* display: inline-block; */
  text-align: left;

}
.cloud1 {
  position: relative;
  left: 300px;
  top:10px;
}
.cloud2 {
  position: absolute;
  margin-left: -200px;

}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #97BBC7;
  border-width: 5px;
  width: 4%;
  margin: 100px auto 100px auto;
}

.html-logo {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.earth {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-btn {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  border-radius: 8px;

  background: rgb(17,205,212);
  background: linear-gradient(90deg, rgba(17,205,212,1) 0%, rgba(17,153,158,1) 100%);

}

.contact-btn:hover {
  background: linear-gradient(90deg, #30e3cb 0%, #2bc4ad 100%);
}

.intro {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.contact-mess {
  width: 30%;
  margin: 40px auto 60px;
}

.lng {
  margin-top: 150px;
}
